## Questions 1:
How to import pandas and check the version?

In [1]:
import pandas as pd 
print(pd.__version__)

0.25.1

## Questions 2:
How to create a series from a numpy array?

In [4]:
import numpy as np 
arr=np.array([1,2,3,4,5,67,8,9])
df=pd.Series(arr)
print(df)

0     1
1     2
2     3
3     4
4     5
5    67
6     8
7     9
dtype: int32

## Questions 3:
How to convert the index of a series into a column of a dataframe?

In [8]:
arr=np.array([1,2,3,4,5,67,8,9])
df=pd.Series(arr)
d=df.to_frame().reset_index()
d

   index   0
0      0   1
1      1   2
2      2   3
3      3   4
4      4   5
5      5  67
6      6   8
7      7   9

## Questions 4:
Write the code to list all the datasets available in seaborn library.

Load the 'mpg' dataset

Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [13]:
import seaborn as sns
d_mpg=sns.load_dataset('mpg')
d_mpg

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

## Questions 5:
Which country origin cars are a part of this dataset?

In [21]:
import seaborn as sns
d_mpg=sns.load_dataset('mpg')
df=pd.DataFrame(d_mpg)
m_orgin=df.origin.unique()
m_orgin

array(['usa', 'japan', 'europe'], dtype=object)

## Questions 6:
Extract the part of the dataframe which contains cars belonging to 'usa'

In [25]:
import seaborn as sns
d_mpg=sns.load_dataset('mpg')
df=pd.DataFrame(d_mpg)
df1=df[df["origin"].str.contains("usa")]
df1

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]